/* Header styles */
#mainHeader {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Typography */
  body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  /* Buttons */
  .cta-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  